---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.button_link %}
  <div style="text-align: center; margin: 20px 0;">
    <a href="{{ page.button_link }}" 
       style="display: inline-block; padding: 10px 20px; font-size: 16px; color: black; background-color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease;">
       Apply To This Organization
    </a>
  </div>
  {% endif %}

  {% if page.previous.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>
